Debug/*
Release/*
ipch/*
CN-assignment-1.*

Server/Debug/*
Server/Release/*
Server/Server.vcxproj
Server/Server.vcxproj.filters
Server/stdafx.cpp
Server/stdafx.h
Server/targetver.h

Client/Debug/*
Client/Release/*
Client/Client.vcxproj
Client/Client.vcxproj.filters
Client/stdafx.cpp
Client/stdafx.h
Client/targetver.h
Client/Client.aps